{{#each this}}
<div class="comment card text-light bg-success mb-3">
    <div class="card-header">
        {{user.username}} on {{format_date created_at}}
    </div>
    <div class="comment-text card-body" id='comment-text'>
        <p class="card-text"> {{comment_text}} </p>
    </div>  
</div>
{{/each}}


