<div class="comments container">
    {{#each this}}
    <section class="comment card text-dark bg-light mb-3">
        <div class="meta card-header">
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="comment-text card-body" id='comment-text'>
            {{comment_text}}
        </div>
        
        
    </section>
    {{/each}}
</div>